[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/bin/xdg-user-dirs-update --force
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=xdg-user-dirs-update
Name=xdg-user-dirs-update
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=


