[General]
Show_Labels=false
Lines_Size=1
Update_Interval=30
Preferred_Height=422
Number_Chips=9

[Chip0]
Name=npu_thermal-0
Number=0

[Chip1]
Name=center_thermal-0
Number=1

[Chip2]
Name=bigcore1_thermal-0
Number=2

[Chip3]
Name=soc_thermal-0
Number=3

[Chip3_Feature0]
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0
Max=38.846000671386719

[Chip4]
Name=tcpm_source_psy_6_0022-6-22
Number=4

[Chip5]
Name=gpu_thermal-0
Number=5

[Chip6]
Name=littlecore_thermal-0
Number=6

[Chip7]
Name=bigcore0_thermal-0
Number=7

[Chip8]
Name=ACPI
Number=8

